importFrom("MASS", "rlm")
importFrom("Matrix", "sparseMatrix")

importFrom("graphics", "plot", "points")
importFrom("stats", "coef", "dbinom", "dexp", "dnbinom", "lm", "mad",
             "median", "na.omit", "optim", "predict", "rbinom", "rexp",
             "rmultinom", "runif", "uniroot")
importFrom("utils", "head")


export(initializeRdsObject)
export(Estimate.b.k)
export(getTheta)
export(makeRdsSample)
export(thetaSmoothingNks)
export(makeJackControl)

